In [7]:
import pandas as pd

df = pd.read_excel('dataset.xlsx')

def search_bird(bird_name):
    bird_name = bird_name.lower()
    
    result = df[df['Name'].str.lower().str.contains(bird_name)]
    
    if not result.empty:
        return result
    else:
        print(f"No matching result found for '{bird_name}'.")

name_of_bird = input("Enter the name of bird: ")

res = search_bird(name_of_bird)
res.head(len(res))

,ID,Name,Binomial name,Conservation status,Domain,Kingdom,Phylum,Class,Order,Family,Genus,Species,Description
0,1,Black-footed albatross,Phoebastria nigripes,Near Threatened,Eukaryota,Animalia,Chordata,Aves,Procellariiformes,Diomedeidae,Phoebastria,P. nigripes,The black-footed albatross is a small member o...
1,2,Laysan albatross,Phoebastria immutabilis,Near Threatened,Eukaryota,Animalia,Chordata,Aves,Procellariiformes,Diomedeidae,Phoebastria,P. immutabilis,The Laysan albatross averages 81 cm (32 in) in...
2,3,Sooty albatross,Phoebetria fusca,Endangered,Eukaryota,Animalia,Chordata,Aves,Procellariiformes,Diomedeidae,Phoebastria,P. fusca,The sooty albatross is a medium-sized albatros...